name: elwiki
label: Greek Wikipedia
host: el.wikipedia.org

samples:
    20k_2017:
        quarry_url: "https://quarry.wmflabs.org/run/190663/output/0/json-lines?download=true"
        quarry_page: "https://quarry.wmflabs.org/query/20231"

trusted_groups:
    - bot
    - bureaucrat
    - sysop

unbalanced_5k_set_for_review: true

default_sample: 20k_2017
review_sample: 5k_2017

models:
    reverted:
        tuning_params:
            n_estimators: 500
        pop_rate_true: 0.05170687756532186
