name: eswiki
label: Spanish Wikipedia
host: es.wikipedia.org

samples:
    5k_2015:
        labeling_campaign: "https://labels.wmflabs.org/campaigns/eswiki/12/"
    20k_2015:
        quarry_url: "http://quarry.wmflabs.org/run/42221/output/0/json-lines?download=true"

default_sample: 20k_2015
review_sample: 5k_2015

merged_samples:
    20k_2015:
        autolabeled_revisions: "20k_2015"
        human_labeled_revisions: "5k_2015"

models:
    damaging:
        tuning_params:
            n_estimators: 300
            max_depth: 3
            learning_rate: 0.1
        pop_rate_true: 0.11036013315847877
    goodfaith:
        tuning_params:
            n_estimators: 300
            max_depth: 3
            learning_rate: 0.1
        pop_rate_true: 0.11036013315847877

trusted_groups:
    - sysop
    - oversight
    - bot
    - rollbacker
    - checkuser
    - abusefilter
    - bureaucrat
