name: sqwiki
label: Albanian Wikipedia
host: sq.wikipedia.org

samples:
    5k_2016:
        labeling_campaign: "https://labels.wmflabs.org/campaigns/sqwiki/57/"
    20k_2016:
        quarry_url: "https://quarry.wmflabs.org/run/169099/output/0/json-lines?download=true"
        quarry_page: "https://quarry.wmflabs.org/query/17988"

default_sample: 20k_2016
review_sample: 20k_2016

merged_samples:
    20k_2016:
        autolabeled_revisions: "20k_2016"
        human_labeled_revisions: "5k_2016"

models:
    damaging:
        tuning_params:
            n_estimators: 500
        pop_rate_true: 0.0287028702870287
    goodfaith:
        tuning_params:
            n_estimators: 500
        pop_rate_true: 0.9763476347634763

trusted_groups:
    - sysop
    - oversight
    - trusted
    - bot
    - rollbacker
    - checkuser
    - abusefilter
    - bureaucrat
